$elMargin: 1em

#quiz
    display: block
    h1
        font-weight: 800
        text-transform: capitalize
        margin-bottom: $elMargin
    button
        display: block
        margin-top: $elMargin