@charset "UTF-8";
html {
  height: 100%;
}
html body {
  height: 100%;
}

#quizParent {
  min-height: 100%;
  font-size: 1.125em;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  top: 0;
  left: 0;
  background: fixed;
  background-image: url("/quizAssets/bg3.jpg");
  background-size: cover;
  background-position: center;
}
#quizParent.startUp #quiz {
  opacity: 1;
}
#quizParent.startUp #quiz h1 {
  max-width: 14em;
}
#quizParent progress#quizProg {
  background-color: #000;
  width: 100%;
  overflow: hidden;
  background-color: #000;
  right: 0;
  left: 0;
  position: absolute;
  bottom: 0;
}
#quizParent progress#quizProg::-webkit-progress-value {
  transition: width 600s linear;
  background: #AFD6C1;
}
#quizParent progress#quizProg::-webkit-progress-bar {
  background-color: #222329;
}
#quizParent #quiz {
  display: block;
  color: #222329;
  padding: 2em;
  text-align: center;
  margin: 1em;
  opacity: 0;
  font-family: "Lato", sans-serif;
  max-width: calc(750px + 2em);
  border-radius: 1em;
  background-color: #F3F4F6;
  box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.5);
}
#quizParent #quiz .introCopy {
  display: block;
  width: 80%;
  margin: 2em auto 1em auto;
  text-align: left;
}
#quizParent #quiz .introCopy strong {
  font-weight: 600;
}
#quizParent #quiz #quizBlock {
  margin: 0 auto;
  overflow-y: auto;
  max-height: calc(100% - 9em);
}
#quizParent #quiz #quizBlock.hidden {
  display: none !important;
}
#quizParent #quiz #quizBlock::-webkit-scrollbar {
  width: 1em;
}
#quizParent #quiz #quizBlock::-webkit-scrollbar-thumb {
  background: #AFD6C1;
  border: solid #AFD6C1 1px;
}
#quizParent #quiz #quizBlock::-webkit-scrollbar-track {
  background: #222329;
}
#quizParent #quiz #quizBlock #map {
  margin-top: 1em;
  width: 27em;
  border-radius: 1em;
  max-width: 100%;
}
#quizParent #quiz #quizBlock #tip {
  max-width: 24em;
  margin: 0em auto 3em auto;
  font-family: "Playfair Display";
  font-size: 1.25em;
  text-align: left;
}
#quizParent #quiz #quizBlock input {
  padding: 0.5em;
  width: 22em;
  max-width: 100%;
  padding: 0.5em;
  font-size: inherit !important;
  width: 22em;
  height: inherit;
  letter-spacing: normal !important;
}
#quizParent #quiz #quizBlock input#otherInput {
  width: calc(100% - 5em);
  margin-left: 1em;
  margin-top: 0.8em;
  height: 1.5em !important;
  padding: 0;
  border: 0;
  border-bottom: 1px solid #222329;
  background-color: initial;
  color: inherit;
  pointer-events: none;
  height: auto;
  text-align: center;
}
#quizParent #quiz #quizBlock input#otherInput:focus {
  border: 0;
  border-bottom: 1px solid #222329;
  outline: none !important;
}
#quizParent #quiz #quizBlock input[type=radio] {
  width: initial;
}
#quizParent #quiz #quizBlock input[type=checkbox] {
  width: initial;
}
#quizParent #quiz #quizBlock label {
  display: inline;
}
#quizParent #quiz #quizBlock label::before {
  content: " ";
}
#quizParent #quiz #quizBlock .opWrap {
  text-align: center;
  max-width: 100%;
  width: 21em;
  padding: 0.5em;
  cursor: pointer;
  margin: 0.5em auto;
  transition: background-color 0.15s, color 0.15s;
  text-transform: capitalize;
  border: 1px solid #222329;
  border-radius: 2em;
  position: relative;
  background-color: #F3F4F6;
}
#quizParent #quiz #quizBlock .opWrap.checklist {
  padding: 0.5em 0.5em 0.5em 3.25em;
  display: inline-flex;
  margin: 0.25em;
  width: calc(50% - .5em);
  overflow: hidden;
  min-height: 4em;
  text-align: left;
  vertical-align: middle;
  line-height: 1;
}
#quizParent #quiz #quizBlock .opWrap.checklist span {
  display: inline-flex;
  align-items: center;
}
#quizParent #quiz #quizBlock .opWrap.checklist span::before {
  content: "";
  width: 3rem;
  padding-top: 3rem;
  position: absolute;
  left: 1.5rem;
  color: #AFD6C1;
  border-radius: 2rem;
  transition: border 0.15s;
  background-color: white;
  border: 1px solid #9c9c9c;
}
#quizParent #quiz #quizBlock .opWrap.checklist.otherOption {
  width: 100%;
}
#quizParent #quiz #quizBlock .opWrap:last-of-type {
  margin: 0.5em auto 0 auto;
}
#quizParent #quiz #quizBlock .opWrap.selected {
  background-color: #AFD6C1;
  border: 1px solid #AFD6C1;
}
#quizParent #quiz #quizBlock .opWrap.selected.checklist span::before {
  content: "✓";
  padding-top: 0;
  line-height: 3rem;
  text-align: center;
  border: 1px solid #AFD6C1;
  font-size: 1.5em;
}
#quizParent #quiz #quizBlock .opWrap.selected:hover {
  background-color: #AFD6C1;
}
#quizParent #quiz #quizBlock .opWrap:hover {
  color: white;
  background-color: #222329;
}
#quizParent #quiz h1 {
  font-weight: 800;
  text-transform: capitalize;
  max-width: 18em;
  margin-bottom: 0;
  color: #222329;
  margin: 0 auto;
  font-family: "Playfair Display", serif;
  font-size: 2em;
}
#quizParent #quiz h1.tiphead {
  text-align: left;
}
#quizParent #quiz h1.startScreen {
  max-width: 14em;
}
#quizParent #quiz h2 {
  font-family: "Playfair Display", serif;
  margin-top: 0.5em;
  height: 1em;
  font-weight: 400;
  text-transform: capitalize;
  color: #222329;
}
#quizParent #quiz #btnWrap {
  display: block;
  justify-content: center;
  bottom: 4em;
  left: 0;
  right: 0;
}
#quizParent #quiz #btnWrap.mainView {
  display: inline-flex;
  position: inherit;
  width: 100%;
}
#quizParent #quiz #btnWrap.mainView button {
  width: 14em;
  min-height: 5em;
  padding: 0.75em 1em;
  border-radius: 1em;
}
#quizParent #quiz button {
  background-color: #AFD6C1;
  color: #222329;
  border: 0;
  padding: 0.75em;
  max-width: calc(50% - .5em);
  text-transform: capitalize;
  width: 10em;
  display: inline-block;
  margin: 1em 0.25em 0 0.25em;
  transition: color 0.15s, background-color 0.15s, opacity 0.15s;
  border-radius: 2em;
}
#quizParent #quiz button:hover {
  color: white;
  background-color: #222329;
}
#quizParent #quiz button:disabled {
  opacity: 0.5;
  color: #222329;
}
#quizParent #quiz button:disabled:hover {
  background-color: #AFD6C1;
}
#quizParent #quiz #goalBlock {
  margin: 0 auto;
  overflow-y: auto;
  max-height: calc(100% - 9em);
}
#quizParent #quiz #goalBlock h2 {
  margin: 0.5em 0 0.5em;
}
#quizParent #quiz #goalBlock #goalTable .tableRow {
  margin: 0 auto;
  width: 100%;
}
#quizParent #quiz #goalBlock #goalTable .tableRow label {
  text-align: left;
  width: 75%;
  display: inline-block;
}
#quizParent #quiz #goalBlock #goalTable .topRow {
  border-top: 0;
}
#quizParent #quiz #goalBlock #goalTable span, #quizParent #quiz #goalBlock #goalTable input {
  width: 1em;
  font-size: 1em;
  height: 1em;
  display: inline-block;
  max-width: 5%;
  text-align: center;
  margin: 0.25em;
}
#quizParent #quiz #resultsBlock {
  margin: 0 auto;
  height: 100%;
  padding-bottom: 1em;
}
#quizParent #quiz #resultsBlock button {
  width: 25em;
  padding: 1em;
  border-radius: 1em;
  margin: 1em auto;
  max-width: calc(100% - 2em);
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
}
#quizParent #quiz #resultsBlock h1 {
  margin: 0 auto 1em auto;
  text-align: center;
}
#quizParent #quiz #resultsBlock p {
  text-align: left;
  margin-bottom: 0;
}
#quizParent #quiz #resultsBlock p i {
  display: block;
  font-style: italic;
}
#quizParent #quiz #resultsBlock h2 {
  margin: 0em 0 0.5em;
  text-align: left;
  height: inherit;
  font-weight: 600;
}
#quizParent #quiz #resultsBlock h2 span {
  font-weight: 400;
}
#quizParent #quiz #resultsBlock .infoBlocks {
  padding: 1.5em;
  border-radius: 1em;
}
#quizParent #quiz #resultsBlock .infoBlocks:nth-of-type(odd) {
  background-color: #FFCF6B;
  border-radius: 1em;
  box-shadow: 0px 9px 17px 0px rgba(0, 0, 0, 0.2);
}
#quizParent #quiz #resultsBlock .infoBlocks:nth-of-type(odd) a {
  color: white;
}
#quizParent #quiz #resultsBlock .infoBlocks:nth-of-type(odd) a:hover {
  color: white;
}

@keyframes slidein {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes slideout {
  from {
    opacity: 1;
    transform: translateX(0px);
  }
  to {
    opacity: 0;
    transform: translateX(-100px);
  }
}
@keyframes slideoutBW {
  from {
    opacity: 1;
    transform: translateX(0px);
  }
  to {
    opacity: 0;
    transform: translateX(100px);
  }
}
@keyframes slideinBW {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.slidein {
  animation: slidein 250ms forwards;
}

.slideout {
  animation: slideout 250ms forwards;
}

.slideinBW {
  animation: slideinBW 250ms forwards;
}

.slideoutBW {
  animation: slideoutBW 250ms forwards;
}

/*# sourceMappingURL=quizStyle.css.map */
