$elMargin: 1em

#quiz
    display: block
    h1
        font-weight: 800
        text-transform: capitalize
        margin-bottom: $elMargin
    button
        display: block
        margin-top: $elMargin
    #goalTable
        #tableRow
            border-top: 1px solid black
            label
                width: 7em
                display: inline-block
        span, input
            width: 1em
            font-size: 1em
            height: 1em
            display: inline-block
            text-align: center
            margin: .25em